{
  "env": {
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "18"
            }
          }
        ]
      ],
      "plugins": [
        "babel-plugin-transform-import-meta",
        ["babel-plugin-replace-import-extension", { "extMapping": { ".js": ".cjs" } }]
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "18"
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        ["babel-plugin-replace-import-extension", { "extMapping": { ".js": ".mjs" } }]
      ]
    }
  }
}